@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400&display=swap');

.container {
    display: flex;
    justify-content: space-evenly;
}

.text {
    margin: 3vh;
    font-style: italic;
    font-size: 2.7vh;
}

.search-cont {
    margin: 2vh 8vw;
}

.search-box {
    margin-right: 2vw;
    height: 4vh;
    width: 20vw;
    border-radius: 4px;
    padding: 0vh 0.5vw;
}

.btn {
    background-color: red;
    color: white;
    height: 5vh;
    width: 6vw;
    border-radius: 10px;
    font-size: 2.35vh;
    margin: 2vh;
}

#add-btn {
    position: relative;
    right: 150px;
}

#add-btn i {
    margin-right: 5px;
}


#search-btn {
    height: 5vh;
}

.big-cont {
    display: flex;
    padding: 7vh 5vw;
    flex-wrap: wrap;
}

.sm-cont {
    display: flex;
    border: 2px solid black;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.111);
    margin: 2vh;
}


.sm-cont img {
    height: 27vh;
    width: 12vw;
    border: 1px solid black;
    border-radius: 30px;
    margin: 1vh 2vw 1vh 0.5vw;
}


.sm-cont ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sm-cont li {
    padding: 1vh 0vw;
    font-size: 2.5vh;
    color: rgba(30, 30, 30, 0.703);
    font-weight: bold;
}

.detail {
    font-weight: lighter;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.view-details, .edit-details, .del-details {
    margin: 1vh;
    margin-left: 2vw;
    padding: 0.75vh;
    border-radius: 5px;
}

.view-details {
    background-color: yellow;
}

.edit-details {
    background-color: lightblue;
}

.del-details {
    background-color: lightcoral;
}