@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400&display=swap');

.main-nav {
    background-color: black;
    width: 100vw;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
}

.main-nav i {
    margin: 2vh 3vw;
    font-size: 5vh;
}

.title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3vh;
}


#home-btn {
    color: aliceblue;
}

#home-btn:hover { 
    color: aqua;
}